.loginbox input[type="text"],
.loginbox input[type="password"] {
    width: 100%;
    margin-bottom: 10px;
}

table#linkTable {
    border-collapse: collapse;
}

table#linkTable,
#linkTable th,
#linkTable td {
    border: 1px solid black;
}

#linkTable th,
#linkTable td {
    padding: 5px;
}

tr:hover.clickable {
    background-color: rgba(100, 100, 255, 0.3);
    cursor: pointer;
}

.center {
    text-align: center;
}